<div class="container container__first">
  <div class="filter-bar">
    <div class="section-list">
      <%= link_to "All", root_path, class: "#{'active' if !params[:section_id].present? }" %>
      <% @sections.each do |section| %>
        <%= link_to section.name, root_path(:section_id => section.id), class: "#{'active' if section.id.to_s == params[:section_id]}" %>
      <% end %>
    </div>
    <div class="right-bar">
      <div class="dropdown">
        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
          <%= params[:cuisine].present? ? @selected_cuisine.name : 'All Cuisine' %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "All Cuisine", root_path(@selected_params.except(:cuisine)), class: "dropdown-item" %>
          <% @cuisines.each do |cuisine| %>
            <%= link_to cuisine.name, root_path(@selected_params.merge(:cuisine => cuisine.slug)), class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"><%= params[:order].present? ? @order_text[params[:order].to_sym] : 'Alphabetical' %></button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Alphabetical", root_path(@selected_params.except(:order)), class: "dropdown-item" %>
          <% @order_text.each do |key, value| %>
            <%= link_to value, root_path(@selected_params.merge(:order => key)), class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-list row">
    <%= render @food_items %>
  </div>
</div>