<div class="container">
  <% if notice.present? %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
  <% end %>
  
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Thank you for your order!</h1>

      <h3 class="heading__form">Items</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th class="text-right">Price</th>
          </tr>
        </thead>
        <tbody>
          <%= render 'orders/cart_item', food_item: @order.food_items.first %>
        </tbody>
        <tfoot>
          <tr>
            <td>Sum</td>
            <td class="text-right"><span class="price"><%= number_to_currency(@order.price, precision: 0, unit: 'đ') %></span></td>
          </tr>
          <% if @order.price != @order.price_total %>
          <tr>
            <td>Discount</td>
            <td class="text-right"><span class="price text-success"><%= number_to_currency(@order.price - @order.price_total, precision: 0, unit: 'đ') %></span></td>
          </tr>
          <% end %>
          <tr>
            <td><strong>Total</strong></td>
            <td class="text-right"><strong><span class="price"><%= number_to_currency(@order.price_total, precision: 0, unit: 'đ') %></span></strong></td>
          </tr>
        </tfoot>
      </table>
      

      <h3 class="heading__form">Order Information</h3>
      <table class="table table-striped table-blank">
        <tbody>
          <tr>
            <td class="th">Date</td>
            <td class="text-right"><%= @order.created_at.to_formatted_s(:long) %></td>
          </tr>
          <tr>
            <td class="th">Contact Name</td>
            <td class="text-right"><%= @order.name %></td>
          </tr>
          <tr>
            <td class="th">Phone</td>
            <td class="text-right"><%= @order.phone %></td>
          </tr>
          <tr>
            <td class="th">Email</td>
            <td class="text-right"><%= @order.email %></td>
          </tr>
        </tbody>
      </table>
      <p><%= link_to "Go to Menu", root_path %></p>
    </div>
  </div>
</div>