<div class="container">
  <% if notice.present? %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="single-food-thumb">
        <%= image_tag @food_item.url %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="single-food-info">
        <div class="single-food-header">
          <h1><%= @food_item.name %></h1>
          <h3 class="price"><%= number_to_currency(@food_item.price, precision: 0, unit: 'đ') %></h3>
          <% if @average_rate.present? %>
            <div class="review-stars">
              <div class="review-stars-bg">
                <%= fa_icon 'star' %>
                <%= fa_icon 'star' %>
                <%= fa_icon 'star' %>
                <%= fa_icon 'star' %>
                <%= fa_icon 'star' %>
              </div>
              <div class="review-stars-fg" style="width: <%= (@average_rate / 5 * 100).to_i %>%">
                <%= fa_icon 'star' %>
                <%= fa_icon 'star' %>
                <%= fa_icon 'star' %>
                <%= fa_icon 'star' %>
                <%= fa_icon 'star' %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= @food_item.section.name %></p>
        <div class="desc"><p><%= @food_item.description %></p></div>
        <p><em><%= @food_item.name %> has been viewed <%= pluralize(@food_item.view, 'time') %></em></p>
        <div class="mt-3">
          <%= link_to "Add to cart", add_to_cart_path(@food_item.id), class: "btn btn-primary", :method => :post %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4 class="mt-4">Give Reviews</h4>
      <%= form_for @review, url: create_review_path(@review) do |review| %>
        <%= review.hidden_field :food_item_id, value: @food_item.id  %>
        <div class="form-group">
          <%= review.label :name %>
          <%= review.text_field :name, value: @review.name.present? ? @review.name : Faker::Name.name , class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= review.label :point %>
          <%= review.number_field :point, value: @review.point.present? ? @review.point : 5 , class: 'form-control',  :min => 1, :max => 5, maxlength: 1 %>
        </div>
        <div class="form-group">
          <%= review.label :comment %>
          <%= review.text_area :comment, value: @review.comment.present? ? @review.comment : Faker::Lorem.paragraph, class: 'form-control', rows: 8 %>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Give Review</button>
        </div>
      <% end %>

      <% if @food_item.reviews.count > 0 %>
        <h4 class="mt-4"><%= @food_item.reviews.count %> Reviews</h4>
        <% @food_item.reviews.each do |review| %>
          <% if review.id.present? %>
            <%= render 'review', review: review %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>